@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format(".woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pink-background {
  background-color: #feafc3;
  background-size: 100% auto;
}

.blue-background {
  background-color: #69a9ff;
  background-size: 100% auto;
}

.yellow-background {
  background-color: #fcc850;
  background-size: 100% auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

.page-navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
  padding: 24px 0;
}

.page-navigation-list {
  width: 650px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-navigation-item:first-child {
  margin-right: 16px;
}

.page-navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 6px 16px;
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
  border-radius: 30px;
}

.page-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.50);
}

.page-navigation-link:focus {
  box-shadow: 0 0 0 2px #2d3440;
  background-color: rgba(252, 252, 252, 0.50);
}

.page-navigation-link:active {
  background-color: #fcfcfc;
}

.dropdown-catalog-link {
  position: relative;
  padding-right: 36px;
}

.dropdown-catalog-link::after {
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-down.svg");
  content: "";
}

.dropdown-catalog:hover .dropdown-catalog-content-list {
  display: block;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  background-color: #fcfcfc;
}

.dropdown-catalog-content-list {
  display: none;
  position: absolute;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  background-color: #fcfcfc;
}

.dropdown-catalog-content-link {
  display: block;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 6px 16px;
}

.novelties {
  font-weight: 700;
  padding: 8px 16px;
}

.page-user-menu {
  width: 470px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.page-user-menu-item:first-child {
  margin-left: auto;
}

.page-navigation-link-phone {
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.page-user-menu-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 6px 16px;
  color: #342d40;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.30);
  border: none;
  border-radius: 30px;
}

.page-user-menu-link:hover {
  background-color: rgba(252, 252, 252, 0.50);
}

.page-user-menu-link:focus {
  box-shadow: inset 0 0 0 2px #000000;
  background-color: rgba(252, 252, 252, 0.50);
}

.page-user-menu-link:active {
  background-color: #FCFCFC;
}

.search {
  box-sizing: border-box;
  min-width: 32px;
  min-height: 32px;
  border-radius: 27px;
}

.entry {
  padding-left: 36px;
}

.entry .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.basket {
  padding-left: 37px;
}

.basket .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Основное содержание главной страницы */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Промо-слайдер */

.promo {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.promo-slider-product-list {
  margin: 0;
  padding: 0;
}

.promo-slider-product-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.promo-slider-product-text {
  font-size: 18px;
  line-height: 24px;
}

.promo-slider-product-link {
  box-sizing: border-box;
  padding: 12px 32px;
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #fcfcfc;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.40);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.promo-slider-product-link:hover {
  border: 4px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.50);
}

.promo-slider-product-link:focus {
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.50);
}

.promo-slider-product-link:active{
  border: 2px solid #2d3440;
  background-color: #fcfcfc;
}

.promo-slider-product-link:disabled{
  background-color: #e7e7e7;
  font-weight: 400;
}

.promo-slider-button {
  position: relative;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 11px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.30);
  cursor: pointer;
}

.promo-slider-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.promo-slider-button:hover {
  background: #fcfcfc;
  border: none;
}

.promo-slider-button:hover .promo-slider-button-icon {
  fill: #2d3440;
}

.promo-slider-button:focus {
  background: rgba(252, 252, 252, 0.50);
  border: 2px solid #2d3440;
}

.promo-slider-button:focus .promo-slider-button-icon {
  fill: #2d3440;
}

.promo-slider-button:active {
  background: rgba(252, 252, 252, 0.50);
  border: none;
}

.promo-slider-button:active .promo-slider-button-icon {
  fill: #2d3440;
}

.promo-slider-button:disabled {
  opacity: 0.4;
  background: rgba(252, 252, 252, 0.30);
}

.promo-slider-pagination-column {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-slider-pagination-list {
  width: 52px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.promo-slider-pagination-button {
  display: block;
  box-sizing: border-box;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #fcfcfc;
  opacity: 0.3;
  cursor: pointer;
}

.promo-slider-pagination-button-current {
  background-color: #fcfcfc;
  opacity: 1;
}

.promo-slider-pagination-button:hover {
  border: 1px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.30);
}

.promo-slider-pagination-button-current:hover {
  border: 1px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.30);
  opacity: 0.3;
}

.promo-slider-pagination-button:focus {
  background-color: rgba(252, 252, 252, 0.30);
  border: 1px solid #2d3440;
}

.promo-slider-pagination-button-current:focus {
  background-color: rgba(252, 252, 252, 0.30);
  border: 1px solid #2d3440;
  opacity: 0.3;
}

.promo-slider-pagination-button:active {
  opacity: 0.5;
}

.promo-slider-pagination-button-current:active {
  opacity: 0.5;
}

.promo-slider-social-list {
  width: 104px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.promo-slider-social-button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 28px;
  height: 28px;
  border: 2px solid rgba(252, 252, 252, 0.30);
  border-radius: 50%;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.circle-substrate {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background-color: #2d3440;
  padding: 8px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
}

.promo-slider-social-button:hover {
  border: 2px solid rgba(252, 252, 252, 0.50);
}

.promo-slider-social-button:hover .circle-substrate {
  display: block;
}

.promo-slider-social-button:focus{
  border: 2px solid #2d3440;
  background: #2d3440;
}

.promo-slider-social-button:active {
  background: #2d3440;
  opacity: 0.5;
}

/* Промо-акции */

.promo-action {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-action-title {
  width: 456px;
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.promo-action-column {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.promo-action-product {
  position: relative;
  width: 570px;
  background-color: #ff7799;
  padding: 36px;
  padding-right: 200px;
  border-radius: 16px;
}

.promo-action-product:nth-child(1)::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 268px;
  background: url("../images/main/raspberries-photo.png") no-repeat;
  content: "";

}

.promo-action-product:nth-child(2)::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 268px;
  background: url("../images/main/marshmallow-photo.png") no-repeat;
  content: "";

}

.promo-action-product-container {
  width: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.promo-action-product-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-action-product-text {
  margin-top: 0;
  margin-bottom: 28px;
}

.promo-action-product-link {
  box-sizing: border-box;
  padding: 12px 32px;
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.40);
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.promo-action-product-link:hover {
  border: 4px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.50);
}

.promo-action-product-link:focus {
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.50);
  padding: 14px 34px;
}

.promo-action-product-link:active{
  border: 2px solid #2d3440;
  background-color: #fcfcfc;
  padding: 14px 34px;
}

.promo-action-product-link:disabled{
  background-color: #e7e7e7;
  font-weight: 400;
}


/* Примеры из каталога */

.catalog {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-title {
  width: 576px;
  margin-top: 0;
  margin-bottom: 107px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.catalog-list {
  width: 1170px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}

.catalog-item {
  position: relative;
  width: 270px;
  padding-top: 133px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.catalog-item-image {
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}

.catalog-item-content-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px 24px 40px;
  margin-top: auto;
}

.catalog-item-title-link {
  display: block;
  margin-bottom: 8px;
  color: #2d3440;
  text-decoration: none;
}

.catalog-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.catalog-item-description {
  margin: 0;
  color: #565c66;
  text-align: center;
}

.catalog-item-price-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.catalog-item-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-item-button {
  position: relative;
  box-sizing: border-box;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #ff2f64;
  cursor: pointer;
}

.catalog-item-button:hover {
  border: 2px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-item-button:hover .catalog-item-button-icon {
  fill: #2d3440;
}

.catalog-item-button:focus {
  border: 2px solid #2d3440;
  background-color: #ff2f64;
}

.catalog-item-button:active {
  border: 2px solid #ff2f64;
  background-color: #ffcbd8;
}

.catalog-item-button:active .catalog-item-button-icon {
  fill: #2d3440;
}

.catalog-item-button:disabled{
  background-color: #b9b9b9;
}

.catalog-item-button:disabled .catalog-item-button-icon {
  fill: #565c66;
}

.catalog-item-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* О нас */

.about-us {
  box-sizing: border-box;
  width: 1170px;
  padding: 24px;
  margin-bottom: 80px;
  background-image: url("../images/main/wafer.png");
  background-repeat: repeat-y;
  border-radius: 16px;
}

.about-us-container {
  box-sizing: border-box;
  width: 1122px;
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-us-title {
  width: 1114px;
  margin: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.advantages-list {
  width: 1044px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.advantages-item {
  width: 506px;
  margin-right: 32px;
  color: #565c66;
  display: flex;
  justify-content: flex-end;
}

.advantages-item:nth-child(2n) {
  margin-right: 0;
}

.advantages-item-text{
  position: relative;
  width: 442px;
  margin: 0;
}

.advantages-item:nth-child(1) .advantages-item-text::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background: url("../images/main/mini-ice.svg") no-repeat;
  content: "";
}

.advantages-item:nth-child(2) .advantages-item-text::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background: url("../images/main/cow.svg") no-repeat;
  content: "";
}

.advantages-item:nth-child(3) .advantages-item-text::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background: url("../images/main/leaf.svg") no-repeat;
  content: "";
}

.advantages-item:nth-child(4) .advantages-item-text::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background: url("../images/main/termometer.svg") no-repeat;
  content: "";
}

.side-subscribe-container {
  width: 1170px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.side-information {
  width: 570px;
  padding: 32.59px 235px 67.15px 32px;
  background-image: url("../images/main/news-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.side-information-title {
  width: 170px;
  margin: 0;
  margin-bottom: 12.22px;
  color: #565c66;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.side-information-text {
  margin: 0;
}

.side-information-text-link {
  width: 303px;
  color: #2d3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
}

.subscribe {
  width: 570px;
  padding: 6px;
  background-image: url("../images/main/subscribe.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscribe-container {
  box-sizing: border-box;
  width: 558px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-discription {
  width: 506px;
  margin: 0;
  margin-bottom: 42px;
  color: #565c66;
}

.subscribe-form {
  width: 506px;
  display: flex;
  justify-content: space-between;
}

.subscribe-form input {
  display: block;
  width: 332px;
  box-sizing: border-box;
  margin-right: auto;
}

.subscribe-form-button {
  box-sizing: border-box;
  min-width: 152px;
  min-height: 44px;
  padding: 12px 32px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  cursor: pointer;
}

.subscribe-form-button:hover {
  color: #2d3440;
  border: 4px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.30);
}

.subscribe-form-button:focus {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.subscribe-form-button:active {
  border: 2px solid #2d3440;
  background-color: #feafc3;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.subscribe-form-button:disabled {
  color: #565c66;
  border: 4px solid rgba(185, 185, 185, 0.30);
  background-color: #b9b9b9;
}

/* Доставка */

.delivery {
  width: 1170px;
  box-sizing: border-box;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
  display: flex;
  background-image: url("../images/main/delivery-background.jpg");
  background-repeat: no-repeat;
  background-color: #feafc3;
  border-radius: 16px;
}

.delivery-description-container {
  width: 371px;
  margin-top: 103px;
  margin-right: 135px;
  margin-bottom: 99px;
}

.delivery-title {
  width: 364px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-text {
  width: 371px;
  margin: 0;
  color: #565c66;
}

.delivery-form-text {
  width: 380px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #565c66;
}

.delivery-form-container {
  box-sizing: border-box;
  width: 500px;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-form {
  width: 420px;
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.delivery-form-field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-field-group label {
  margin-bottom: 8px;
}

.delivery-form-adress-container {
  grid-column: 1/-1;
}

.delivery-form-button {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 12px;
  box-sizing: border-box;
  min-width: 152px;
  min-height: 44px;
  padding: 12px 32px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  cursor: pointer;
}

.delivery-form-button:hover {
  color: #2d3440;
  border: 4px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.30);
}

.delivery-form-button:focus {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.delivery-form-button:active {
  border: 2px solid #2d3440;
  background-color: #feafc3;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.delivery-form-button:disabled {
  color: #565c66;
  border: 4px solid rgba(185, 185, 185, 0.30);
  background-color: #b9b9b9;
}


.delivery-form label{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

/* Контакты */

.contacts {
  width: 1170px;
  box-sizing: border-box;
  padding: 64px;
  padding-right: 763px;
  background-image: url("../images/main/contacts-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-address-container {
  box-sizing: border-box;
  width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-address-description {
  width: 179px;
  margin: 0;
  margin-right: 80px;
  margin-bottom: 12px;
  color: #565c66;
}

.contacts-address-text {
  width: 263px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.contacts-address-description {
  width: 203px;
  margin: 0;
  margin-right: 60px;
  margin-bottom: 12px;
  color: #565c66;
}

.contacts-address-phone-link {
  display: block;
  width: 225px;
  margin: 0;
  margin-right: 38px;
  color: #2d3440;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
}

.contacts-address-description-small {
  width: 160px;
  margin: 0;
  margin-right: 103px;
  margin-bottom: 32px;
  color: #565c66;
  font-size: 14px;
  line-height: 20px;
}

.contacts-button-feedback {
  box-sizing: border-box;
  min-width: 250px;
  min-height: 44px;
  padding: 12px 32px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  cursor: pointer;
}

.contacts-button-feedback:hover {
  color: #2d3440;
  border: 4px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.30);
}

.contacts-button-feedback:focus {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.contacts-button-feedback:active {
  border: 2px solid #2d3440;
  background-color: #feafc3;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 14px 34px;
}

.contacts-button-feedback:disabled {
  color: #565c66;
  border: 4px solid rgba(185, 185, 185, 0.30);
  background-color: #b9b9b9;
}

.page-footer-container {
  width: 1170px;
  margin: 48px auto;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 104px;
  margin-right: 259px;
  align-self: flex-start;
}

.footer-social-list {
  width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  flex-wrap: wrap;
}

.footer-social-item-button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.30);
  border-radius: 50%;
}

.footer-social-item-button:hover {
  border: 2px solid rgba(252, 252, 252, 0.50);
}

.footer-social-item-button:hover .circle-substrate {
  display: block;
}

.footer-social-item-button:focus{
  border: 2px solid #2d3440;
  background: #2d3440;
}

.footer-social-item-button:active {
  background: #2d3440;
  opacity: 0.5;
}

.footer-social-item-button .social-icon {
  width: 20px;
  height: 20px;
}

.our-documents {
  width: 356px;
  margin-right: 259px;
  align-self: flex-start;
}

.our-documents-list {
  width: 356px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 8px;
}

.our-documents-item:nth-child(1) {
  margin-right: 24px;
  margin-left: 24px;
}

.our-documents-item:nth-child(3) {
  margin-right: 38px;
  margin-left: 24px;
}

.our-documents-item-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.our-documents-item-link-current {
  position: relative;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.our-documents-item-link-current::before {
  position: absolute;
  left: -24px;
  top: 1px;
  width: 16px;
  height: 16px;
  background: url("../images/heart.svg") no-repeat;
  content: "";
}

.academy-link-container-footer {
  width: 193px;
}

.academy-link-container-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: #2d3440;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

/* Каталог */

.inner-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-inner-title-breadcrumbs-container {
  min-width: 379px;
  margin-top: 32px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.main-inner-title {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.breadcrumbs-list {
  width: 335px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 28px;
}

.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item::after {
  position: absolute;
  right: -20px;
  top: 9px;
  width: 12px;
  height: 12px;
  background: url("../images/double-arrow.svg") no-repeat;
  content: "";
}

.breadcrumbs-item:last-of-type:after {
  content: none;
}

.breadcrumbs-link {
  position: relative;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

.catalog-products-filter {
  width: 823px;
  margin-bottom: 95px;
  font-size: 14px;
  line-height: 20px;
}

.select-control {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-price-container {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-products-filter-list {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-products-filter-button {
  box-sizing: border-box;
  padding: 8px 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: rgba(252, 252, 252, 0.30);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

.catalog-products-filter-button:hover {
  border: 2px solid rgba(252, 252, 252, 0.30);
  background: #fcfcfc;
}

.catalog-products-filter-button:focus {
  border: 2px solid #2d3440;
  background: rgba(252, 252, 252, 0.30);
}

.catalog-products-filter-button:active {
  border: none;
  background: rgba(252, 252, 252, 0.50);
  padding: 10px 34px;
}

.catalog-products-filter-button:disabled {
  border: 2px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.30);
  opacity: 0.4;
}

.catalog-product-list {
  width: 1170px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  row-gap: 91px;
  flex-wrap: wrap;
}

.catalog-product-item {
  position: relative;
  width: 270px;
  padding-top: 133px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.catalog-product-item-image {
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}

.catalog-product-item-content-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px 24px 40px;
}

.catalog-product-item-title-link {
  display: block;
  margin-bottom: 8px;
  color: #2d3440;
  text-decoration: none;
}

.catalog-product-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.catalog-product-item-description {
  margin: 0;
  color: #565c66;
  text-align: center;
}

.catalog-product-item-price-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.catalog-product-item-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-product-item-button {
  position: relative;
  box-sizing: border-box;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #ff2f64;
  cursor: pointer;
}

.catalog-product-item-button:hover {
  border: 2px solid #ff2f64;
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-product-item-button:hover .catalog-product-item-button-icon {
  fill: #2d3440;
}

.catalog-product-item-button:focus {
  border: 2px solid #2d3440;
  background-color: #ff2f64;
}

.catalog-product-item-button:active {
  border: 2px solid #ff2f64;
  background-color: #ffcbd8;
}

.catalog-product-item-button:active .catalog-product-item-button-icon {
  fill: #2d3440;
}

.catalog-product-item-button:disabled{
  background-color: #b9b9b9;
}

.catalog-product-item-button:disabled .catalog-product-item-button-icon {
  fill: #565c66;
}

.catalog-product-item-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog-product-pagination-container {
  width: 1170px;
  padding: 41px 0;
  display: flex;
  justify-content: flex-end;
}

.catalog-product-button-pagination-show-more {
  box-sizing: border-box;
  min-width: 179px;
  margin-right: 335px;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fcfcfc;
  text-decoration: none;
  text-align: center;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.40);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.catalog-product-button-pagination-show-more:hover {
  border: 4px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.50);
}

.catalog-product-button-pagination-show-more:focus {
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.50);
  padding: 14px 34px;
}

.catalog-product-button-pagination-show-more:active{
  border: 2px solid #2d3440;
  background-color: #fcfcfc;
  padding: 14px 34px;
}

.catalog-product-button-pagination-show-more:disabled{
  background-color: #e7e7e7;
  font-weight: 400;
}

.catalog-product-pagination {
  width: 168px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-product-pagination-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-current {
  background-color: #fcfcfc;
}

.catalog-product-pagination-link:hover {
background: rgba(252, 252, 252, 0.50);
}

.catalog-product-pagination-link:focus {
  border: 1px solid #2d3440;
  background: rgba(252, 252, 252, 0.30);
  padding: 1px 7px;
  }

.catalog-product-pagination-link:active {
  border: 1px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.50);
  padding: 1px 7px;
  }

.catalog-product-pagination-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.pagination-disabled .catalog-product-pagination-link-icon {
  opacity: 0.3;
}
