@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format(".woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pink-background {
  background-color: #feafc3;
  background-size: 100% auto;
}

.blue-background {
  background-color: #69a9ff;
  background-size: 100% auto;
}

.yellow-background {
  background-color: #fcc850;
  background-size: 100% auto;
}

/* Хедер */

.page-navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.page-navigation-list {
  width: 650px;
  margin: 0;
  padding: 0;
}

.page-navigation-link {
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
}

.dropdown-catalog-content-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.novelties {
  font-weight: 700;
}

.page-user-menu {
  width: 470px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.page-navigation-link-phone {
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.page-user-menu-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.30);
}

/* Основное содержание главной страницы */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Промо-слайдер */

.promo {
  width: 1170px;
  display: flex;
  flex-direction: column;
}

.promo-slider-product-list {
  margin: 0;
  padding: 0;
}

.promo-slider-product-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.promo-slider-product-text {
  font-size: 18px;
  line-height: 24px;
}

.promo-slider-product-link {
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #fcfcfc;
  text-align: center;
}

.promo-slider-pagination-column {
  display: flex;
}

/* Промо-акции */

.promo-action-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.promo-action-column {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-action-product {
  width: 570px;
  background-color: #ff7799;
}

.promo-action-product-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-action-product-link {
  color: #2d3440;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #fcfcfc;
  text-align: center;
}

/* Примеры из каталога */

.catalog-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.catalog-list {
  width: 1170px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 270px;
  background-color: #fcfcfc;
}

.catalog-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.catalog-item-text {
  color: #565c66;
  text-align: center;
}

.catalog-item-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* О нас */

.about-us {
  width: 1170px;
  padding: 24px;
  background-image: url("../images/main/wafer.png");
  background-repeat: repeat-y;
}

.about-us-container {
  width: 1122px;
  background-color: #ffffff;
}

.about-us-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.advantages-item {
  color: #565c66;
}

.side-subscribe-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.side-information {
  width: 570px;
  background-image: url("../images/main/news-background.jpg");
  background-repeat: no-repeat;
}

.side-information-title {
  color: #565c66;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.side-information-text-link {
  color: #2d3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
}

.subscribe {
  width: 570px;
  background-image: url("../images/main/subscribe.png");
  background-repeat: no-repeat;
}

.subscribe-container {
  background-color: #ffffff;
}

.subscribe-discription {
  color: #565c66;
}

.subscribe-form-button {
  color: #fcfcfc;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
}

/* Доставка */

.delivery {
  width: 1170px;
  padding: 64px;
  padding-left: 100px;
  display: flex;
  background-image: url("../images/main/delivery-background.jpg");
  background-repeat: no-repeat;
}

.delivery-description-container {
  width: 371px;
  margin-right: 135px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-text {
  color: #565c66;
}

.delivery-form-text {
  color: #565c66;
}

.delivery-form-container {
  box-sizing: border-box;
  width: 500px;
  padding: 40px;
  background-color: #fcfcfc;
}

.delivery-form-button {
  color: #fcfcfc;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
}

.delivery-form label{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

/* Контакты */

.contacts {
  width: 1170px;
  padding: 64px;
  padding-right: 763px;
  background-image: url("../images/main/contacts-background.jpg");
  background-repeat: no-repeat;
}

.contacts-address-container {
  box-sizing: border-box;
  width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
}

.contacts-address-description {
  color: #565c66;
}

.contacts-address-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.contacts-address-description {
  color: #565c66;
}

.contacts-address-phone-link {
  color: #2d3440;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
}

.contacts-address-description-small {
  color: #565c66;
  font-size: 14px;
  line-height: 20px;
}

.contacts-button-feedback {
  color: #fcfcfc;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff2f64;
  text-align: center;
}

.page-footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 120px;
}

.our-documents {
  width: 400px;
}

.our-documents-item-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.our-documents-item-link-current {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.academy-link-container-footer {
  width: 210px;
}

.academy-link-container-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: #2d3440;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

/* Каталог */

.inner-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-inner-title-breadcrumbs-container {
  min-width: 379px;
}

.main-inner-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.catalog-products-filter {
  width: 823px;
  font-size: 14px;
  line-height: 20px;
}

.select-control {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-price-container {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-products-filter-list {
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-products-filter-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: rgba(252, 252, 252, 0.30);
}

.catalog-product-item {
  background-color: #fcfcfc;
}

.catalog-product-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.catalog-product-item-description {
  color: #565c66;
  text-align: center;
}

.catalog-product-item-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-product-button-pagination-show-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fcfcfc;
}

.catalog-product-pagination-link {
  color: #2d3440;
  line-height: 20px;
  text-decoration: none;
}

.pagination-current {
  background-color: #fcfcfc;
}
